
@{
    ViewData["Title"] = "EmployeeDetails";
}

<h1>EmployeeDetails</h1>

<form asp-action="EmployeeDetails">
    <table class="table">
        <tr>
            <td>
                Employee Name :
            </td>
            <td>
                @Html.TextBox("name")
            </td>
        </tr>
        <tr>
            <td>
               Email :
            </td>
            <td>
                @Html.TextBox("email")
            </td>
        </tr>
        <tr>
            <td>
                Gender :
            </td>
            <td>
                @Html.RadioButton("gender","Male")Male
                @Html.RadioButton("gender","Female")Female
            </td>
        </tr>
        <tr>
            <td>
                Cities :
            </td>
            <td>
                @Html.DropDownList("cities")
            </td>
        </tr>
        <tr>
            <td>
                Department :
            </td>
            <td>
                @Html.DropDownList("dept")
            </td>
        </tr>
        <tr>
            <td>
                Qualification :
            </td>
            <td>
                @Html.RadioButton("qualification", "CS")CS
                @Html.RadioButton("qualification", "IT")IT
                @Html.RadioButton("qualification", "Mech")Mech
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="submit" value="submit" class="btn btn-primary" />
            </td>
        </tr>

    </table>
</form>