
@{
    ViewData["Title"] = "PrintDetails";
}

<h1>PrintDetails</h1>

<form>
    <table>
        <tr>
            <td>
                Employee Name:
            </td>
            <td>
                @ViewBag.Name
            </td>
        </tr>
        <tr>
            <td>
                Employee Email:
            </td>
            <td>
                @ViewBag.Email
            </td>
        </tr>
        <tr>
            <td>
                Employee Gender:
            </td>
            <td>
                @ViewBag.Gender
            </td>
        </tr>
        <tr>
            <td>
                Employee City:
            </td>
            <td>
                @ViewBag.Cities
            </td>
        </tr>
        <tr>
            <td>
               Department:
            </td>
            <td>
                @ViewBag.Dept
            </td>
        </tr>
        <tr>
            <td>
               Qualification:
            </td>
            <td>
                @ViewBag.Qualification
            </td>
        </tr>
    </table>
</form>